# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
/encodings.xml
/sonarlint/issuestore/index.pb
/sonarlint/securityhotspotstore/index.pb
/misc.xml
/uiDesigner.xml
/vcs.xml
